/* main styles */

/* css variables */
:root {
    --col-brand-primary: #d15f1c;
    --col-brand-secondary: rgb(49, 49, 49);
    --col-brand-tertiary: #0063e5;
    --col-dividers-borders: #e7e7e7;
    --col-bg: #ffffff;
    --col-bg2: #eeeeee;
    --font-fam: 'Poppins', sans-serif;
  }
  
  /* global */ 
  html {
    font-size: 16px; /* default - use rems for other sizes */
    font-family: var(--font-fam);
    line-height: 1.4;
    background: var(--col-bg2);
    color: var(--col-brand-secondary);
  }
  
  
  /* layout & main components */
  header {
    margin-bottom: 2rem;
    padding: 0 3%;
    position: fixed;
    top: 0;
    width: 100%;
    background: var(--col-brand-primary);
    box-shadow: 0 2px 4px 0 rgba(0,0,0, 0.15);
  }
  header nav {
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-gap: 8%;
    max-width: 1260px;
    margin-right: auto;
    margin-left: auto; 
    align-items: center; 
    height: 54px;
    color: var(--col-brand-secondary)
  }
  header nav h3#logo {
    color: #fff;
  }
  header nav a {
    font-weight: 700;
  }
  
  header nav a { 
    text-align: center;
    color: var(--col-bg)
  }

  
  .sub-nav {
    width: 100%;
    min-height: 44px;
    display: grid;
    align-items: center;
    grid-gap: 2%;
    margin-bottom: 2em;
    text-align: center;
    background: var(--col-brand-secondary);
    color: var(--col-bg);
    font-size: 0.875rem;   /* 14px default */
    padding: 0.5rem 2%;
    margin-top: 54px;
  }
  .sub-nav p {
    display: grid;
    grid-gap: 3%;
    grid-template-columns: auto auto auto;
    margin-bottom: 0;
  }
  .sub-nav p a {
    border: 1px solid var(--col-bg);
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    color: var(--col-bg);
    border-radius: 20px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.04rem;
  }
  .sub-nav a:hover,
  .sub-nav a.active {
    background: var(--col-bg);
    color: var(--col-brand-secondary);
    text-decoration: none;
    opacity: 1;
  }

  main {
    max-width: 1260px;
    margin: 54px auto 0 auto; 
    padding: 0 2%;
  }
  main article {
    margin: 0 auto 1em auto;
    border-radius: 5px;
    background: var(--col-bg);
    padding: 5%;
    max-width: 96%;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);

  }
  main article h2 a {
    color: var(--col-brand-secondary);
  }
  main article .post-meta { 
    font-size: 0.875rem;   /* 14px default */
    font-weight: 500;
  }
    
    
  footer {
    width: 100%;
    padding: 0 1rem 1rem 1rem;
    text-align: center;
  }
    
  
  /* typography */

  h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    line-height: 1.3em;
    letter-spacing: -0.07rem;
  }
  
  h1 { 
    font-size: 3rem; /* 48px default */ 
  }

  h1.articles-heading {
    font-size: 1.3125rem; /* 21px default - doesn't need to be imposing */
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 1.75rem; /* 28px default */
  }
  h3 {
    font-size: 1.5rem; /* 24px default */
    margin-bottom: 0.5rem;
  }
  h4 {
    font-size: 1.3125rem; /* 21px default */
    line-height: 1.2;
  }
  
  body, p, ol, ul {
    font-weight: 400;
  }
  
  input, textarea, button {
    font-size: 1rem;
    font-weight: 300;
    font: var(--font-fam);
  }
  
  a { 
    color: var(--col-brand-primary);
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
    opacity: 0.65;
  }
  
  /* forms */
  input, textarea, button {
    padding: 0.75rem 1rem;
    font-size: 1.25rem;
    border: none;
    /* border-style: solid;
    border-width: 0.0625rem; 1px default  */
    /* border-color: var(--col-dividers-borders); */
    /* margin-bottom: 1rem; */
    height: 3.75rem;
  }
  label {
    margin-bottom: 0.3125rem; /* 5px default */
    display: block;
  }
  form p.error,
  form p.success {
    font-weight: 700;
    display: none;
  }
  form p.error i {
    color: var(--col-brand-primary);
    margin-right: 0.5rem;
  }
  form p.success i {
    color: seagreen;
    margin-right: 0.5rem;
  }
  form .invalid {
    border-color: red;
  }
  form .valid {
    border-color: seagreen;
  }
  
  
  /* buttons */
  button {  
    background: #0063e5; 
    background: linear-gradient(180deg, var(--col-brand-tertiary) 25%, var(--col-brand-primary) 100%);
    font-weight: 500;
    text-transform: uppercase;
    color: var(--col-brand-secondary);
  } 
  
  /* fancy button effects */
  button {
    overflow: hidden;
    transition: 0.2s transform ease-in-out;
    will-change: transform;
    z-index: 0;
  }
  button::after {
    background-color: #1c4eac ;
    content: '';
    display: block;
    height: 140%;
    width: 140%;
    position: absolute;
    left: -20%;
    top: 0;
    transform: translate(-100%, 0) rotate(10deg);
    transition: 0.15s transform ease-out;
    will-change: transform;
    z-index: -1;
  
  }
  button:hover::after {
    transform: translate(0, 0);
  }
  button:hover {
    transform: scale(1);
    will-change: transform;
    color: var(--col-brand-secondary)
  }
  
  